
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    display: flex;
}

li {
    /* display:inline-block; */
    /* float: right; */
    margin-right: 1.2rem;
}

li a {
    display:block;
    min-width:1rem;
    height: 3rem;
    text-align: center;
    line-height: 2.3rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}



li:hover a {
    background: black;
 
}

li:hover ul a {
    background: #f3f3f3;
    height: 2.3rem;
    line-height: 2.3rem;
}

li:hover ul a:hover {
    background: #a4cfed;
   
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 1rem;
    padding: 0 1.2rem;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: .7rem 0;
    display: none;
    
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

img{
    border-radius: 5rem;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    
    ul {
        position: static;
        display: none;
    }
   
    li {
        margin-bottom: 1rem;
    }
   
    ul li, li a {
        width: 100%;
    }
   
    .show-menu {
        display:block;
    }
}


/* ////////////////////////////drop down */
/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* /////////////Hover Dropdown */

/* Dropdown Button */
.hdropbtn {
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.hdropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.hdropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.hdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.hdropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.hdropdown:hover .hdropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.hdropdown:hover .hdropbtn {
    background-color: #3e8e41;
}